@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,300&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.attribution {
  transform: translateY(-2.6rem);
}

.divider {
  display: none;
}

body {
  flex-direction: column;
  background-color: hsl(226deg, 43%, 10%);
  font-family: "Rubik", sans-serif;
  color: white;
}

main {
  width: 100%;
  padding: 5rem 1.5rem;
}

.client-card {
  margin-bottom: 4rem;
}
.client-card .top-section {
  display: flex;
  align-items: center;
  border-radius: 18px;
  background-color: hsl(235deg, 45%, 61%);
  padding: 1.5rem;
}
.client-card .top-section img {
  height: 70px;
  width: 70px;
  border: 3px solid white;
  border-radius: 50%;
  margin-right: 1rem;
}
.client-card .top-section .report-name span {
  color: lightgray;
}
.client-card .top-section .report-name .name {
  font-size: 1.4rem;
  color: #e6e6e6;
}
.client-card .bottom-section {
  background-color: hsl(235deg, 46%, 20%);
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  position: relative;
  z-index: -1;
}
.client-card .bottom-section p:first-child,
.client-card .bottom-section p:last-child {
  color: #bababa;
}
.client-card .bottom-section::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: hsl(235deg, 46%, 20%);
  transform: translateY(-3rem);
}

.stacked {
  display: grid;
  transform: translateY(2.3rem);
}
.stacked > * {
  grid-column: 1/2;
  grid-row: 1/2;
}

.work, .self-care, .social, .exercise, .study, .play {
  margin-bottom: 4rem;
}
.work .img-background, .self-care .img-background, .social .img-background, .exercise .img-background, .study .img-background, .play .img-background {
  background-color: hsl(15deg, 100%, 70%);
  border-radius: 18px;
  width: 100%;
  overflow-y: hidden;
  z-index: -1;
  transform: translateY(-2.3rem);
}
.work .img-background img, .self-care .img-background img, .social .img-background img, .exercise .img-background img, .study .img-background img, .play .img-background img {
  padding-right: 1rem;
  margin-left: auto;
  transform: translateY(-0.8rem);
}
.work .info, .self-care .info, .social .info, .exercise .info, .study .info, .play .info {
  padding: 1.5rem 1rem;
  background-color: hsl(235deg, 46%, 20%);
  border-radius: 18px;
}
.work .info .title, .self-care .info .title, .social .info .title, .exercise .info .title, .study .info .title, .play .info .title, .work .info .hours, .self-care .info .hours, .social .info .hours, .exercise .info .hours, .study .info .hours, .play .info .hours {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.work .info .hours p, .self-care .info .hours p, .social .info .hours p, .exercise .info .hours p, .study .info .hours p, .play .info .hours p {
  font-size: 1.7rem;
}
.work .info .hours .date, .self-care .info .hours .date, .social .info .hours .date, .exercise .info .hours .date, .study .info .hours .date, .play .info .hours .date {
  font-size: 0.8rem;
  color: lightgray;
}

.play .img-background {
  background-color: hsl(195deg, 74%, 62%);
}
.play .img-background img {
  transform: translateY(-0.5rem);
}

.study .img-background {
  background-color: hsl(348deg, 100%, 68%);
}
.study .img-background img {
  transform: translateY(-0.5rem);
}

.exercise .img-background {
  background-color: hsl(145deg, 58%, 55%);
}
.exercise .img-background img {
  transform: translateY(-0.1rem);
}

.social .img-background {
  background-color: hsl(264deg, 64%, 52%);
}
.social .img-background img {
  transform: translateY(-0.9rem);
}

.self-care .img-background {
  background-color: hsl(43deg, 84%, 65%);
}
.self-care .img-background img {
  transform: translateY(-0.85rem);
}

@media (min-width: 1400px) {
  main {
    width: 80%;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    gap: 1.3rem;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 13rem);
  }
  main .client-card {
    grid-row: span 2;
  }
  main .stacked {
    transform: translateY(2.3rem);
    margin-bottom: 2.3rem;
  }
  main .client-card {
    margin-bottom: 0;
    position: relative;
  }
  main .client-card .top-section {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 4rem;
  }
  main .client-card .top-section img {
    margin-bottom: 1rem;
    height: 70px;
    width: 70px;
  }
  main .client-card .top-section .report-name {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    padding-top: 0.5rem;
  }
  main .client-card .top-section .report-name span {
    font-size: 0.7rem;
  }
  main .client-card .top-section .report-name .name {
    font-size: 2rem;
    line-height: 1.2;
  }
  main .client-card .bottom-section {
    flex-direction: column;
    z-index: 1;
  }
  main .client-card .bottom-section p {
    padding: 0.5rem 0;
    transition: all 250ms linear;
  }
  main .client-card .bottom-section p:hover {
    cursor: pointer;
    color: white;
  }
  main .client-card .bottom-section::before {
    display: none;
  }
  main .client-card .divider {
    background-color: hsl(235deg, 46%, 20%);
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 5rem;
    bottom: 30%;
  }
  main .work .info, main .play .info, main .study .info, main .exercise .info, main .social .info, main .self-care .info {
    background-color: hsl(235deg, 46%, 20%);
    border-radius: 18px;
    transition: all 250ms linear;
  }
  main .work .info:hover, main .play .info:hover, main .study .info:hover, main .exercise .info:hover, main .social .info:hover, main .self-care .info:hover {
    cursor: pointer;
    background-color: #292f70;
  }
  main .work .info .title, main .play .info .title, main .study .info .title, main .exercise .info .title, main .social .info .title, main .self-care .info .title, main .work .info .hours, main .play .info .hours, main .study .info .hours, main .exercise .info .hours, main .social .info .hours, main .self-care .info .hours {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  main .work .info p, main .play .info p, main .study .info p, main .exercise .info p, main .social .info p, main .self-care .info p {
    font-size: 1rem;
  }
  main .work .info img, main .play .info img, main .study .info img, main .exercise .info img, main .social .info img, main .self-care .info img {
    width: 15px;
  }
  main .work .info img:hover, main .play .info img:hover, main .study .info img:hover, main .exercise .info img:hover, main .social .info img:hover, main .self-care .info img:hover {
    cursor: pointer;
  }
  main .work .info .hours, main .play .info .hours, main .study .info .hours, main .exercise .info .hours, main .social .info .hours, main .self-care .info .hours {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 1.3rem;
  }
  main .work .info .hours p, main .play .info .hours p, main .study .info .hours p, main .exercise .info .hours p, main .social .info .hours p, main .self-care .info .hours p {
    font-size: 2.5rem;
  }
  main .work .info .hours .date, main .play .info .hours .date, main .study .info .hours .date, main .exercise .info .hours .date, main .social .info .hours .date, main .self-care .info .hours .date {
    font-size: 0.8rem;
    color: lightgray;
  }
}/*# sourceMappingURL=style.css.map */