@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,300&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.attribution {
  transform: translateY(-2.6rem);
}

body {
  flex-direction: column;
  background-color: hsl(226deg, 43%, 10%);
  font-family: "Rubik", sans-serif;
  color: white;
}

main {
  width: 100%;
  padding: 5rem 1.5rem;
}

.client-card {
  margin-bottom: 4rem;
}
.client-card .top-section {
  display: flex;
  align-items: center;
  border-radius: 18px;
  background-color: hsl(235deg, 45%, 61%);
  padding: 1.5rem;
}
.client-card .top-section img {
  height: 70px;
  width: 70px;
  border: 3px solid white;
  border-radius: 50%;
  margin-right: 1rem;
}
.client-card .top-section .report-name span {
  color: lightgray;
}
.client-card .top-section .report-name .name {
  font-size: 1.4rem;
  color: #e6e6e6;
}
.client-card .bottom-section {
  background-color: hsl(235deg, 46%, 20%);
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  position: relative;
  z-index: -1;
}
.client-card .bottom-section p:first-child,
.client-card .bottom-section p:last-child {
  color: #bababa;
}
.client-card .bottom-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: hsl(235deg, 46%, 20%);
  transform: translateY(-3rem);
}

.stacked {
  display: grid;
}
.stacked > * {
  grid-column: 1/2;
  grid-row: 1/2;
}

.work, .self-care, .social, .exercise, .study, .play {
  margin-bottom: 4rem;
}
.work .img-background, .self-care .img-background, .social .img-background, .exercise .img-background, .study .img-background, .play .img-background {
  background-color: hsl(15deg, 100%, 70%);
  border-radius: 18px;
  width: 100%;
  overflow-y: hidden;
  z-index: -1;
  transform: translateY(-2.3rem);
}
.work .img-background img, .self-care .img-background img, .social .img-background img, .exercise .img-background img, .study .img-background img, .play .img-background img {
  padding-right: 1rem;
  margin-left: auto;
  transform: translateY(-0.8rem);
}
.work .info, .self-care .info, .social .info, .exercise .info, .study .info, .play .info {
  padding: 1.5rem 1rem;
  background-color: hsl(235deg, 46%, 20%);
  border-radius: 18px;
}
.work .info .title, .self-care .info .title, .social .info .title, .exercise .info .title, .study .info .title, .play .info .title, .work .info .hours, .self-care .info .hours, .social .info .hours, .exercise .info .hours, .study .info .hours, .play .info .hours {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.work .info .hours p, .self-care .info .hours p, .social .info .hours p, .exercise .info .hours p, .study .info .hours p, .play .info .hours p {
  font-size: 1.7rem;
}
.work .info .hours .date, .self-care .info .hours .date, .social .info .hours .date, .exercise .info .hours .date, .study .info .hours .date, .play .info .hours .date {
  font-size: 0.8rem;
  color: lightgray;
}

.play .img-background {
  background-color: hsl(195deg, 74%, 62%);
}
.play .img-background img {
  transform: translateY(-0.5rem);
}

.study .img-background {
  background-color: hsl(348deg, 100%, 68%);
}
.study .img-background img {
  transform: translateY(-0.5rem);
}

.exercise .img-background {
  background-color: hsl(145deg, 58%, 55%);
}
.exercise .img-background img {
  transform: translateY(-0.1rem);
}

.social .img-background {
  background-color: hsl(264deg, 64%, 52%);
}
.social .img-background img {
  transform: translateY(-0.9rem);
}

.self-care .img-background {
  background-color: hsl(43deg, 84%, 65%);
}
.self-care .img-background img {
  transform: translateY(-0.85rem);
}/*# sourceMappingURL=style.css.map */